/* inika-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inika-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inika-v21-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  background-color: #EDF2EC;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

/* header start */

.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 42px 0;
}

.header__logo {
  text-align: center;
  align-items: center;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 46px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  color: #E06733;
  opacity: .75;
}

/* header end */

/* welcome start */

.welcome__wrapper {
  padding: 62px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.welcome__img {
  text-align: center;
  align-self: center;

}

.welcome__info {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  max-width: 550px;
}

.welcome__header {
  margin-bottom: 42px;
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
}

.welcome__color-text {
  color: #499A18;
}

.welcome__text {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 35px;
}

.welcome__button {
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid #E06733;
  background: rgba(224, 103, 51, 0.00);
  padding: 14px 27px;
  text-transform: uppercase;
}

/* welcome end */